apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - k8s/grafana.yml
  - k8s/influxdb.yml
  - k8s/ingress.yml
commonLabels:
  group: github-status-stats
configMapGenerator:
  - name: grafana-dashboards
    files:
      - grafana/dashboards/builds.json
  - name: grafana-provisioning-dashboards
    files:
      - grafana/provisioning/dashboards/files.yml
  - name: grafana-provisioning-datasources
    files:
      - grafana/provisioning/datasources/influxdb.yml
generatorOptions:
  disableNameSuffixHash: true
