[package]
name = "ghss_store"
version = "0.1.0"
authors = ["Jan Kuehle <jkuehle90@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ghss_tracing = { path = "../ghss_tracing" }
prost = "0.6.1"
rusqlite = { version = "0.23.1", features = ["bundled"] }
secstr = "0.4.0"
tokio = { version = "0.2", features = ["macros"] }
tonic = "0.2.1"
tonic-health = "0.1.0"
tracing = "0.1.13"

[build-dependencies]
tonic-build = "0.2.0"
