<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width">
  <title>{{#if title}}{{title}} - {{/if}}Status Stats for GitHub</title>
  <link rel="stylesheet" href="/static/base.css">
  {{> add-head}}
</head>

<body>
  <header>
    <div class="title">
      <div class="breadcrumbs">
        Status Stats for GitHub{{#if title}} &rsaquo; <a href="/">Repositories</a>{{/if}}
      </div>
      <h1>{{#if title}}{{title}}{{else}}Repositories{{/if}}</h1>
      {{> add-title}}
    </div>
    {{#if user}}
    <div class="user">
      <div>Logged in as</div>
      <div class="user__name">{{user}}</div>
      <a href="/logout">Logout</a>
    </div>
    {{/if}}
  </header>
  <main>
    {{> main}}
  </main>
  <footer>
    <a class="sourcelink" href="https://github.com/frigus02/github-status-stats">Browse source on GitHub</a>
  </footer>
</body>

</html>
