{{#> layout user=LoggedIn.user}}

{{#*inline "add-head"}}
<link rel="stylesheet" href="/static/index.css" />
{{/inline}}

{{#*inline "main"}}
{{#if Anonymous}}
<a href="{{Anonymous.login_url}}">Login with GitHub</a>
{{/if}}
{{#if LoggedIn}}
<p>Status Stats for GitHub is setup for the following repositories:</p>
<nav aria-label="Repositories">
  <ul>
    {{#each LoggedIn.repositories}}
    <li>
      <a href="/d/{{name}}">{{name}}</a>
    </li>
    {{/each}}
  </ul>
</nav>
<a href="{{LoggedIn.login_url}}">Refresh</a> -
<a href="https://github.com/apps/status-stats">Add repository</a>
<p>
  <small>It can take up to 2 hours for newly added repositories, until the
    first data import is finished.</small>
</p>
{{/if}}
{{/inline}}

{{/layout}}
