<!DOCTYPE html>
<html>
  <head>
    <title>GitHub Status Stats</title>
    <link rel="stylesheet" href="/static/base.css" />
    <link rel="stylesheet" href="/static/index.css" />
  </head>
  <body>
    <header>
      <h1>GitHub Status Stats</h1>
      {{#if LoggedIn}}
      <div class="user">
        <div>Logged in as</div>
        <div class="user__name">{{LoggedIn.user}}</div>
        <div><a href="/logout">Logout</a></div>
      </div>
      {{/if}}
    </header>
    <div class="content">
      {{#if Anonymous}}
      <a href="{{Anonymous.login_url}}">Login with GitHub</a>
      {{/if}}{{#if LoggedIn}}
      <h2>Repositories</h2>
      <p>GitHub Status Stats is setup for the following repositories:</p>
      <ul>
        {{#each LoggedIn.repositories}}
        <li>
          <a href="/d/{{name}}">{{name}}</a>
        </li>
        {{/each}}
      </ul>
      <a href="{{LoggedIn.login_url}}">Refresh</a> -
      <a href="https://github.com/apps/status-stats">Add repository</a>
      <p>
        <small
          >It can take up to 2 hours for newly added repositories, until the
          first data import is finished.</small
        >
      </p>
      {{/if}}
    </div>
    <a class="sourcelink" href="https://github.com/frigus02/github-status-stats"
      >Browse source on GitHub</a
    >
  </body>
</html>
