html {
  --color-accent: 255, 7, 58;
  --color-dark: 0, 2, 46;
  --color-light: 2, 6, 111;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgb(var(--color-dark));
  color: #fff;
}

header h1 {
  display: inline-block;
  font-size: 2rem;
  margin: 0;
}

header .breadcrumbs {
  font-size: smaller;
}

header .user {
  font-size: 0.7rem;
  text-align: end;
}

header .user__name {
  font-size: 1rem;
}

header a {
  color: #fff;
}

header a:visited {
  color: rgb(240, 181, 255);
}

a {
  color: rgb(var(--color-light));
}

a:visited {
  color: rgb(111, 2, 99);
}

.sourcelink {
  float: right;
  margin: 0 1rem 1rem;
  font-size: 0.7rem;
}
