#dashboard {
  display: grid;
  grid-template-columns: repeat(4, calc(25% - 0.75rem));
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

#overall-success {
  grid-area: 1 / 1 / 2 / 2;
}
#overall-duration {
  grid-area: 1 / 2 / 2 / 3;
}
#stats-by-pipeline {
  grid-area: 1 / 3 / 3 / 5;
}
#duration {
  grid-area: 2 / 1 / 5 / 3;
}
#attempts {
  grid-area: 3 / 3 / 5 / 5;
}

.timerange {
  border: none;
}

.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
}

.panel h2 {
  font-size: 1.2rem;
  margin: 0;
}

#dashboard .uplot {
  font-family: inherit;
  line-height: inherit;
}

.single-stat {
  position: absolute;
  top: 50%;
  font-size: 1.5rem;
}

.table-stat {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.table-stat th {
  text-align: left;
  font-weight: normal;
}

.table-stat th,
.table-stat td {
  padding: 0.2rem 0.3rem;
}

.table-stat thead {
  border-top: 2px solid rgb(var(--color-light));
  border-bottom: 2px solid rgb(var(--color-light));
}

.table-stat tbody td {
  border-left: 2px solid rgb(var(--color-light));
}
.table-stat tbody td:first-child {
  border-left: none;
}

.table-stat tbody th,
.table-stat tbody td {
  border-bottom: 2px solid rgb(var(--color-light));
}

.error {
  background-color: #fff;
  padding: 1rem;
}
