#dashboard {
  display: grid;
  --dashboard-columns: 2;
  --panel-padding: 1rem;
  grid-template-columns: repeat(var(--dashboard-columns), minmax(150px, 1fr));
}

#overall-success {
  border-right: 1px solid rgba(var(--color-light), 0.5);
}

#stats-by-pipeline {
  grid-column: span 2;
  grid-row: span 2;
  border-top: 1px solid rgba(var(--color-light), 0.5);
}

#duration {
  grid-column: span 2;
  grid-row: span 3;
  border-top: 1px solid rgba(var(--color-light), 0.5);
}

#attempts {
  grid-column: span 2;
  border-top: 1px solid rgba(var(--color-light), 0.5);
}

@media (min-width: 900px) {
  #dashboard {
    --dashboard-columns: 4;
    --panel-padding: 2rem;
  }

  #overall-duration {
    border-right: 1px solid rgba(var(--color-light), 0.5);
  }

  #stats-by-pipeline {
    border-top: none;
  }

  #duration {
    border-right: 1px solid rgba(var(--color-light), 0.5);
  }
}

.repo-link {
  display: inline-block;
}

.repo-link img {
  vertical-align: bottom;
}

.filters {
  background-color: rgb(var(--color-light));
  color: #fff;
  padding: 0.7rem 1rem;
}

.timerange {
  border: none;
  margin: 0;
  padding: 0;
}

.timerange legend {
  float: left;
  padding: 0;
}

.timerange legend::after {
  content: ":";
  margin-right: 0.2em;
}

.timerange input {
  vertical-align: middle;
}

.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: var(--panel-padding);
}

.panel h2 {
  font-size: 1.2rem;
  font-weight: normal;
  margin: 0;
}

#dashboard .uplot {
  font-family: inherit;
  line-height: inherit;
}

.single-stat {
  position: absolute;
  top: 50%;
  font-size: 1.5rem;
}

.table-stat {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.table-stat th {
  text-align: left;
  font-weight: normal;
}

.table-stat th,
.table-stat td {
  padding: 0.2rem 0.3rem;
}

.table-stat thead th {
  border-left: 1px solid rgb(var(--color-light));
}

.table-stat thead th:first-child {
  border-left: none;
}

.table-stat tbody td {
  border-left: 1px solid rgb(var(--color-light));
}

.table-stat tbody th,
.table-stat tbody td {
  border-top: 1px solid rgb(var(--color-light));
}

.error {
  background-color: #fff;
  padding: 1rem;
}
