<!DOCTYPE html>
<html>
  <head>
    <title>{{repository_name}} - GitHub Status Stats</title>
    {{#if data.Data}}
    <script src="/static/dashboard.js" data-repository="{{data.Data.repository_id}}" defer></script>
    {{/if}}
  </head>
  <body>
    <h1>GitHub Status Stats</h1>
    <h2>{{repository_name}}</h2>
    <p>Hello {{user}}</p>
    {{#if data.Data}}{{#with data.Data}}
    <p>{{repository_id}}</p>
    <div id="dashboard"></div>
    {{/with}}{{/if}}{{#if data.Error}}{{#with data.Error}}
    <h2>Something went wrong</h2>
    <p>{{message}}</p>
    {{/with}}{{/if}}
  </body>
</html>
