<!DOCTYPE html>
<html>
  <head>
    <title>{{repository_name}} - GitHub Status Stats</title>
    {{#if data.Data}}
    <link rel="stylesheet" href="/static/uPlot.css" />
    <link rel="stylesheet" href="/static/dashboard.css" />
    <script src="/static/uPlot.iife.min.js" defer></script>
    <script
      src="/static/dashboard.js"
      type="module"
      data-repository="{{data.Data.repository_id}}"
    ></script>
    {{/if}}
  </head>
  <body>
    <h1>GitHub Status Stats</h1>
    <h2>{{repository_name}}</h2>
    <p>Hello {{user}}</p>
    {{#if data.Data}}{{#with data.Data}}
    <div id="dashboard">
      <div class="panel" id="overall-success"></div>
      <div class="panel" id="overall-duration"></div>
      <div class="panel" id="success-by-pipeline"></div>
      <div class="panel" id="duration-by-pipeline"></div>
      <div class="panel" id="duration"></div>
    </div>
    {{/with}}{{/if}}{{#if data.Error}}{{#with data.Error}}
    <h2>Something went wrong</h2>
    <p>{{message}}</p>
    {{/with}}{{/if}}
  </body>
</html>
