<!DOCTYPE html>
<html>
  <head>
    <title>{{repository_name}} - GitHub Status Stats</title>
    {{#if data.Data}}
    <link rel="stylesheet" href="/static/base.css" />
    <link rel="stylesheet" href="/static/uPlot.css" />
    <link rel="stylesheet" href="/static/dashboard.css" />
    <script src="/static/uPlot.iife.min.js" defer></script>
    <script
      src="/static/dashboard.js"
      type="module"
      data-repository="{{data.Data.repository_id}}"
    ></script>
    {{/if}}
  </head>
  <body>
    <header>
      <h1>
        <small><a href="/">GitHub Status Stats</a></small>
        {{repository_name}}
      </h1>
      <fieldset class="timerange">
        <legend>Time range</legend>
        <input id="startdate" type="date" aria-label="Start date" /> to
        <input id="enddate" type="date" aria-label="End date" />
      </fieldset>
      <div class="user">
        <div>Logged in as</div>
        <div class="user__name">{{user}}</div>
        <div><a href="/logout">Logout</a></div>
      </div>
    </header>
    {{#if data.Data}}
    <div id="dashboard">
      <div class="panel" id="overall-success"></div>
      <div class="panel" id="overall-duration"></div>
      <div class="panel" id="success-by-pipeline"></div>
      <div class="panel" id="duration-by-pipeline"></div>
      <div class="panel" id="duration"></div>
    </div>
    {{/if}}{{#if data.Error}}
    <h2>Something went wrong</h2>
    <p>{{data.Error.message}}</p>
    {{/if}}
    <a class="sourcelink" href="https://github.com/frigus02/github-status-stats"
      >Browse source on GitHub</a
    >
  </body>
</html>
