<!DOCTYPE html>
<html>
  <head>
    <title>GitHub Status Stats</title>
  </head>
  <body>
    <h1>GitHub Status Stats</h1>
    {{#if Anonymous}}{{#with Anonymous}}
    <div><a href="{{login_url}}">Login</a></div>
    {{/with}}{{/if}}{{#if LoggedIn}}{{#with LoggedIn}}
    <h2>Hello {{user}}!</h2>
    <ul>
      {{#each repositories}}
      <li>
        <a href="/d/{{name}}">{{name}}</a>
      </li>
      {{/each}}
    </ul>
    <a href="https://github.com/apps/status-stats">Add repository</a>
    {{/with}}{{/if}}
  </body>
</html>
