html {
  --color-accent: 65, 88, 255;
  --color-dark: 72, 69, 84;
  --color-light: 173, 169, 187;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgba(var(--color-light), 0.3);
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgb(var(--color-dark));
  color: #fff;
}

header h1 {
  font-size: 2rem;
  margin: 0;
}

header h1 small {
  display: block;
  font-size: 0.5em;
}

header .user {
  font-size: 0.7rem;
  text-align: end;
}

header .user__name {
  font-size: 1rem;
}

header a,
header a:visited {
  color: #fff;
}

a,
a:visited {
  color: rgb(var(--color-accent));
}
