apiVersion: apps/v1
kind: Deployment
metadata:
  name: ghss-website
spec:
  selector:
    matchLabels:
      app: ghss-website
  replicas: 1
  template:
    metadata:
      labels:
        app: ghss-website
    spec:
      containers:
        - name: website
          image: frigus02/github-status-stats-website
          imagePullPolicy: Always
          env:
            - name: RUST_LOG
              value: info,website=debug,github_client=debug,influxdb_client=debug
            - name: HOST
              value: http://kubernetes.docker.internal
            - name: GH_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: ghss-github
                  key: CLIENT_ID
            - name: GH_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: ghss-github
                  key: CLIENT_SECRET
            - name: GH_WEBHOOK_SECRET
              valueFrom:
                secretKeyRef:
                  name: ghss-github
                  key: WEBHOOK_SECRET
            - name: INFLUXDB_BASE_URL
              value: http://ghss-influxdb
            - name: INFLUXDB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: ghss-influxdb
                  key: username
            - name: INFLUXDB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: ghss-influxdb
                  key: password
            - name: GRAFANA_BASE_URL
              value: http://ghss-grafana
            - name: GRAFANA_ADMIN_USERNAME
              valueFrom:
                secretKeyRef:
                  name: ghss-grafana
                  key: username
            - name: GRAFANA_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: ghss-grafana
                  key: password
          ports:
            - containerPort: 8888
          # resources:
          #   limits:
          #     cpu: 100m
          #     memory: 100Mi
          #   requests:
          #     cpu: 100m
          #     memory: 100Mi
          # readinessProbe:
          #   httpGet:
          #     path: /login
          #     port: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: ghss-website
spec:
  type: ClusterIP
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 8888
  selector:
    app: ghss-website
